{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <h1> {{title}} </h1>
 |<form action="/event/add" method="post">
<label for="event">add a event </label>
<input type="text" name="title" placeholder="Add a title"/>
<input type="text" name="Description" placeholder="Add a title"/>
<input type="number" name="NbParticipant" placeholder="Add a title"/>
<input type="submit" value="save"/>
<a href="/event">back to home</a>
</form>
{% endblock %}
